@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body {
    height: 100vh;
    background-image: url(./src/img/background.jpeg);
    background-size: cover;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.inactive {
    display: none;
}

.pokedex-background {
    width: 800px;
    height: 600px;
}

.pokedex-background img {
    width: fit-content;
    position: absolute;
}

.button {
    box-shadow: -4px 4px 0px black;
}

.search-container {
    position: absolute;
    margin-top: 420px;
    margin-left: 85px;
    display: flex;
    gap: 10px;
}

.principal-image {
    position: absolute;
    width: 258px;
    height: 177px;
    /* background-color: yellow; */
    margin-top: 164px;
    margin-left: 65px;
    border-radius: 12px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#image-pokemon {
    width: 180px;
    height: 180px;
}

#inputPokemon {
    width: 210px;
    height: 40px;
    box-shadow: -4px 4px 0px #727272;
    outline: none;
    border-radius: 8px;
    border: 2px solid black;
    /* transition: transform 0.1s ease-in-out; */
    padding: 0px 12px;
    letter-spacing: 2px;
    font-size: 16px;
}

.button-search {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.button-search .search-icon {
    width: 16px;
}

.rare-container {
    position: absolute;
    margin-top: 354px;
    margin-left: 110px;
    display: flex;
    gap: 40px;
}

.rare-button {
    padding: 4px 10px;
    border-radius: 4px;
    transition: transform 0.1s ease-in-out;
    cursor: pointer;
}

.backnext-container {
    position: absolute;
    margin-top: 540px;
    margin-left: 60px;
    display: flex;
    gap: 45px;
}

.backnext-button {
    padding: 4px 10px;
    border-radius: 4px;
    cursor: pointer;
    height: 40px;
    width: 120px;
    transition: transform 0.1s ease-in-out;
}

.name-container {
    position: absolute;
    border-radius: 12px;
    box-shadow: -4px 4px 0px #727272;
    border: 3px solid black;
    /* background-color: #E3E3E3; */
    background-color: black;
    margin-top: 135px;
    margin-left: 500px;
    height: 60px;
    width: 310px;
    padding: 6px;
}

.name-container h3 {
    font-size: 14px;
}

.info-container h3 {
    font-size: 14px;
}

.info-container {
    position: absolute;
    border-radius: 12px;
    /* box-shadow: -4px 4px 0px #727272; */
    /* border: 3px solid black; */
    margin-top: 220px;
    margin-left: 490px;
    /* background-color: #E3E3E3; */
    width: 310px;
    height: 200px;
    padding: 0px 12px;
}

.name-pokemon {
    text-align: center;
    color: #E3E3E3;
}

#data-number {
    font-weight: 700;
}

.stats-pokemon {
    position: absolute;
    display: flex;
    gap: 30px;
    width: 100%;
    margin: 40px 0;
}

.stat {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.stat h3 {
    color: #E3E3E3;
    letter-spacing: 1.2px;
    text-shadow: -1.5px 1px 0px black;
}

.stat-item {
    box-shadow: -2px 2px 0px #727272;
    background-color: black;
    border-radius: 4px;
    color: #E3E3E3;
    width: 40px;
    text-align: center;
}

.stats-left,
.stats-right {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#selectPokemon {
    position: absolute;
    margin-top: 40px;
    width: 210px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: -4px 4px 0px #727272;
    border: 2px solid black;
}

#selectPokemon option {
    cursor: pointer;
    padding: 0px 10px;
}

#selectPokemon option:hover {
    background-color: hsla(0, 84%, 75%, 0.5);
}

.clear {
    position: absolute;
    margin-top: 540px;
    margin-left: 730px;
}

.clear button {
    padding: 4px 10px;
    border-radius: 4px;
    cursor: pointer;
    height: 40px;
    transition: transform 0.1s ease-in-out;
}