@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body {
    height: 100vh;
    background-image: url(./src/img/background.jpeg);
    background-size: cover;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.inactive {
    display: none;
}

.pokedex-background {
    width: 800px;
    height: 600px;
}

.pokedex-background img {
    width: fit-content;
    position: absolute;
}

.button {
    box-shadow: -4px 4px 0px black;
}

.search-container {
    position: absolute;
    margin-top: 420px;
    margin-left: 85px;
    display: flex;
    gap: 10px;
}

.principal-image {
    position: absolute;
    width: 258px;
    height: 177px;
    background-color: yellow;
    margin-top: 164px;
    margin-left: 65px;
    border-radius: 12px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#image-pokemon {
    width: 180px;
    height: 180px;
}

#inputPokemon {
    width: 210px;
    height: 40px;
    box-shadow: -4px 4px 0px #727272;
    outline: none;
    border-radius: 8px;
    border: 2px solid black;
    /* transition: transform 0.1s ease-in-out; */
    padding: 0px 12px;
    letter-spacing: 2px;
    font-size: 16px;
}

.button-search {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.button-search .search-icon {
    width: 16px;
}

.rare-container {
    position: absolute;
    margin-top: 354px;
    margin-left: 110px;
    display: flex;
    gap: 40px;
}

.rare-button {
    padding: 4px 10px;
    border-radius: 4px;
    transition: transform 0.1s ease-in-out;
    cursor: pointer;
}

.backnext-container {
    position: absolute;
    margin-top: 520px;
    margin-left: 60px;
    display: flex;
    gap: 45px;
}

.backnext-button {
    padding: 4px 10px;
    border-radius: 4px;
    cursor: pointer;
    height: 40px;
    width: 120px;
    transition: transform 0.1s ease-in-out;
}